
body {
   width: 500px;
   margin: 4% auto;
   font-family: 'Source Sans Pro', sans-serif;
   letter-spacing: 5px;
   font-size: 1.8rem;
   /* -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none; */
 }
 
 .calculator {
   padding: 20px;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(48, 5, 31, 0.2);
   box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   border-radius: 1px;
 }
 
 .input {
   border: 1px solid rgb(223, 164, 188);
   border-radius: 1px;
   height: 60px;
   padding-right: 15px;
   padding-top: 10px;
   text-align: right;
   margin-right: 6px;
   font-size: 2.5rem;
   overflow-x: auto;
   transition: all .2s ease-in-out;
 }
 
 .input:hover {
   border: 1px solid rgb(233, 149, 149);
   -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
 }
 

 .operators div {
   display: inline-block;
   border: 1px solid rgb(233, 183, 212);
   border-radius: 1px;
   width: 80px;
   text-align: center;
   padding: 10px;
   margin: 20px 4px 10px 0;
   cursor: pointer;
   background-color: rgb(205, 185, 231);
   transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
 }
 
 .operators div:hover {
   background-color: rgb(231, 180, 193);
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   border-color: rgb(187, 142, 164);
 }
 
 .operators div:active {
   font-weight: bold;
 }
 
 .leftPanel {
   display: inline-block;
 }
 
 .numbers div {
   display: inline-block;
   border: 1px solid rgb(211, 152, 198);
   border-radius: 1px;
   width: 80px;
   text-align: center;
   padding: 10px;
   margin: 10px 4px 10px 0;
   cursor: pointer;
   background-color: #a02f7a;
   transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
 }
 
 .numbers div:hover {
   background-color: #f1f1f1;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(187, 104, 180, 0.726);
   box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   border-color: #bbb;
 }
 
 .numbers div:active {
   font-weight: bold;
 }
 
 div.equal {
   display: inline-block;
   border: 1px solid #f7dff3;
   border-radius: 1px;
   width: 12%;
   text-align: center;
   padding: 127px 10px;
   margin: 10px 6px 10px 0;
   vertical-align: top;
   cursor: pointer;
   color: rgb(221, 175, 217);
   background-color: #d89ac9;
   transition: all .2s ease-in-out;
 }
 
 div.equal:hover {
   background-color: #cea0b9;
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   border-color: #bb18bb;
 }
 
 div.equal:active {
   font-weight: bold;
 }